<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity"
            android:label="@string/play_name"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PeopleActivity"
            android:label="@string/people_name"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AibumActivity"
            android:label="@string/aibum_name"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ListActivity"
            android:label="@string/list_name"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>